<div class= "center jumbotron">
    <h1>Parrot</h1>
    
    <h2>
        BEBOP 2
    </h2>
    
    <%= link_to "BUY NOW", "", class: "btn btn-lg btn-success" %>
</div>

<div class = "center jumbotron">
        <h3 class = "center">
            New MiniDrones
        </h3>
        <h2>A new generation of Parrot MiniDrones</h2>
        <%= link_to "BUY NOW", "", class: "btn btn-lg btn-success"%>
    </div>
<div class = "center jumbotron">
        <h3 class = "center">
            Parrot Zik 3
        </h3>
        <h2>Wireless Everything</h2>
        <%= link_to "BUY NOW", "", class: "btn btn-lg btn-success"%>
    </div>
<div class = "center jumbotron">
        <h3 class = "center">
            Parrot MINIKIT Neo 2 HD
        </h3>
        <h2>A Voice controlled portable Bluetooth</h2>
        <%= link_to "BUY NOW", "", class: "btn btn-lg btn-success"%>
    </div>
<div class = "center jumbotron">
        <h3 class = "center">
            BEBOP 2 & ZIG 3 Accessories
        </h3>
        <%= link_to "BUY NOW", "", class: "btn btn-lg btn-success"%>
    </div>
    