<header class="navbar navbar-fixed-top navbar-default">
  <div class="container">
    <%= link_to "Parrot", "", class: "btn btn-lg btn-success", id: "logo" %>
    <div class="nav_item">
      <%= link_to "Drones", "", class: "btn btn-default btn-warning" %>
    </div>
    <div class="nav_item">
      <%= link_to "Minidrones", "", class: "btn btn-default btn-warning" %>
    </div>
    <div class="nav_item">
      <%= link_to "Zik Headphones ", "", class: "btn btn-default btn-warning" %>
    </div>
    <div class="nav_item">
      <%= link_to "Connected Gardening", "", class: "btn btn-default btn-warning" %>
    </div>
    <div class="nav_item">
      <%= link_to "Car Kits", "", class: "btn btn-default btn-warning" %>
    </div>
  </div>
</header>